@page "/"

<PagesTitles>Adrian Coter Abogado</PagesTitles>
<MudText Typo="Typo.h5" Align="Align.Center">Especialista en ______</MudText>


<MudContainer MaxWidth="MaxWidth.Medium" >
    <MudPaper Elevation="25" Style="background-color:#424242">
        <MudGrid Spacing="2" Class="mt-5 mb-5 mr-5 ml-5">
            <MudItem xs="12">
                <div class="flex-container">
                    <div class="image-container">
                        <MudImage Src="assets/CoterFotoProfesional.jpg" Class="flex-image" />
                    </div>
                    <div class="text-container">
                        <MudText Style="color:white">
                            Nos especializamos en Lorem ipsum dolor sit amet, 
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex 
                            ea commodo consequat. Duis aute irure dolor in reprehenderit in 
                            voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        </MudText>
                    </div>
                </div>
            </MudItem>
        </MudGrid>
    </MudPaper>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudPaper Elevation="25" >
        <MudGrid Spacing="2" Class="mt-5 mb-5 mr-5 ml-5">
            <MudItem xs="12">
                <div class="flex-container">

                    <div class="text-container">
                        <MudText Typo="Typo.h5">PRÁCTICA JURÍDICA</MudText>
                        <MudText >
                            En PBH Abogados ofrecemos servicios de consultoría, asesoría, gestión, representación y litigio en diversas áreas del derecho.
                        </MudText>
                        <MudButton Color="Color.Primary" Class="mt-1 mb-1" Variant="Variant.Filled" Href="@PagesRoutes.PracticaJuridica">Leer mas</MudButton>
                    </div>
                    <div class="image-container">
                        <MudImage Src="assets/home_practicaJuridica.jpg" Class="flex-image mt-3 mb-3" />
                    </div>
                </div>
            </MudItem>
        </MudGrid>
    </MudPaper>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudPaper Elevation="25" Style="background-color:#424242">
        <MudGrid Spacing="2" Class="mt-5 mb-5 mr-5 ml-5">
            <MudItem xs="12">
                <div class="flex-container">
                    <div class="image-container">
                        <MudImage Src="assets/home_quienesSomos.jpg" Class="flex-image" />
                    </div>
                    <div class="text-container">
                        <MudText Typo="Typo.h5" Style="color:white">QUIÉNES SOMOS</MudText>

                        <MudText Style="color:white">
                            Fundada en el año de 2005, en la ciudad de Tijuana, 
                            Baja California, en PBH Abogados nos dedicamos a brindar 
                            servicios legales a nuestros clientes de manera creativa, 
                            especializada y oportuna.
                        </MudText>
                        <MudButton Color="Color.Tertiary" Class="mt-1 mb-1" Variant="Variant.Filled" Href="@PagesRoutes.QuienesSomos">Leer mas</MudButton>
                    </div>
                </div>
            </MudItem>
        </MudGrid>
    </MudPaper>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudPaper Elevation="25">
        <MudGrid Spacing="2" Class="mt-5 mb-5 mr-5 ml-5">
            <MudItem xs="12">
                <div class="flex-container">

                    <div class="text-container">
                        <MudText Typo="Typo.h5"><MudIcon Icon="@Icons.Material.Filled.VideoCall" /> ASESORIA EN LÍNEA</MudText>
                        
                        <MudText>
                            Agenda una video llamada
                        </MudText>
                        
                    </div>
                    <div class="image-container">
                        <MudButton Color="Color.Primary" Class="mt-1 mb-1" Variant="Variant.Filled" Href="@PagesRoutes.Contacto">Contacto</MudButton>
                    </div>
                </div>
            </MudItem>
        </MudGrid>
    </MudPaper>
</MudContainer>
