@attribute [Route(PagesRoutes.PracticaJuridica)]
<PagesTitles>Practicas Juridicas</PagesTitles>
    <MudText Typo="Typo.h5" Class="mb-5" Align="Align.Center">
        En PBH Abogados ofrecemos servicios de consultoría, asesoría, gestión, representación y litigio, especializándonos en las siguientes áreas:
    </MudText>

    <MudCard Class="mt-5 mb-5" Elevation="25" Outlined="true">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h5">Administrativo</MudText>
            </CardHeaderContent>
        </MudCardHeader>
    <MudCardMedia Image="assets/administrativo.jpg" Class="full-image-fit" Style="object-fit: contain" />
        <MudCardContent>
            <MudText>
                <ul>
                    <li>- Licitaciones.</li>
                    <li>- Permisos.</li>
                    <li>- Licencias.</li>
                    <li>- Autorizaciones.</li>
                    <li>- Responsabilidad de servidores públicos.</li>
                    <li>- Litigio ante Tribunales Contenciosos Administrativos Federales y Locales.</li>
                    <li>- Juicios de Amparo contra leyes y actos administrativos.</li>
                </ul>
            </MudText>
        </MudCardContent>
    </MudCard>

<MudCard Class="mt-5 mb-5" Elevation="25" Outlined="true">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h5">Administrativo</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardMedia Image="assets/administrativo2.jpg" Class="full-image-fit" />
    <MudCardContent>
        <MudText>
            <ul>
                <li>- Licitaciones.</li>
                <li>- Permisos.</li>
                <li>- Licencias.</li>
                <li>- Autorizaciones.</li>
                <li>- Responsabilidad de servidores públicos.</li>
                <li>- Litigio ante Tribunales Contenciosos Administrativos Federales y Locales.</li>
                <li>- Juicios de Amparo contra leyes y actos administrativos.</li>
            </ul>
        </MudText>
    </MudCardContent>
</MudCard>

<MudCard Class="mt-5 mb-5" Elevation="25" Outlined="true">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h5">Administrativo</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardMedia  Image="assets/administrativo3.jpg" Class="full-image-fit" />
    <MudCardContent>
        <MudText>
            <ul>
                <li>- Licitaciones.</li>
                <li>- Permisos.</li>
                <li>- Licencias.</li>
                <li>- Autorizaciones.</li>
                <li>- Responsabilidad de servidores públicos.</li>
                <li>- Litigio ante Tribunales Contenciosos Administrativos Federales y Locales.</li>
                <li>- Juicios de Amparo contra leyes y actos administrativos.</li>
            </ul>
        </MudText>
    </MudCardContent>
</MudCard>